apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-api-deployment
  namespace: w255
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      initContainers:
        - name: init-verify-redis-service-dns
          image: busybox
          command: ['sh', '-c', 'until nslookup redis-service.w255.svc.cluster.local; do echo waiting for redis DNS; sleep 2; done']

        - name: init-verify-redis-ready
          image: busybox
          command: ['sh', '-c', 'until nc -z redis-service 6379; do echo waiting for redis to be ready; sleep 2; done']

      containers:
        - name: app
          image: app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3

          startupProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 10